.card {
  
  padding: 10px;
  background:#797777;
  height: 120px;
  margin: 1.3rem;
  position: relative;
  width: 210px;
  box-shadow: 0 3px 6px #303030, 0 3px 6px #303030;
  text-align: left;
  border-radius: 15px;
}

.card > .img-container {
  height: 100%;
  overflow: hidden;
  text-align: center;
  background:black;
  border-radius: 15px;
}
.card > .img-container > img {
  width: 100%
}


.card:hover
{
        -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
        transform: scale(1.05);
}