.navbar-nav.navbar-center {
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
  font-size: 24px;
  
}

.custom {
  background-color: rgb(24, 24, 24) !important;
  color: #4ce704 !important;
  
}
.navbar {
  border-bottom: 1px #484848 solid;
  -webkit-box-shadow: 0 8px 6px -6px #aca9a9;
  -moz-box-shadow: 0 8px 6px -6px #999;
  box-shadow: 0 8px 6px -6px #b6b3b3;
}

.custom-font {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

/* .selection {
  animation: change 3s step-end both;
}

@keyframes change {
  from { font-size: 24px; }
  to   { font-size: 18px }
} */
